Project_IoT_Gr19_flows.json
[{"id":"db17751bf47342ad","type":"tab","label":"Smart Desk Gateway","disabled":false,"info":""},{"id":"f10f87965b6b67fe","type":"mqtt in","z":"db17751bf47342ad","name":"","topic":"smartdesk/telemetry","qos":"0","datatype":"auto-detect","broker":"208f4af71908eab4","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":380,"wires":[["54257c1f0d8a0df8","cd34df76fe548f6b"]]},{"id":"cd34df76fe548f6b","type":"debug","z":"db17751bf47342ad","name":"1. Raw MQTT In","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":320,"wires":[]},{"id":"54257c1f0d8a0df8","type":"json","z":"db17751bf47342ad","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":380,"wires":[["d8f3a2ca2f05cef7","eb9067f6ef52f72a","fn_split_data","fn_dashboard_display"]]},{"id":"eb9067f6ef52f72a","type":"debug","z":"db17751bf47342ad","name":"2. JSON Object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":320,"wires":[]},{"id":"d8f3a2ca2f05cef7","type":"function","z":"db17751bf47342ad","name":"Format for InfluxDB","func":"msg.payload = [\n    {\n        distance: msg.payload.distance,\n        light: msg.payload.light,\n        temp: msg.payload.temp,\n        score: msg.payload.score\n    },\n    {\n        device: \"esp32_smartdesk\",\n        location: \"office\"\n    }\n];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":380,"wires":[["01cd3f183a127fa7","c3f42bc3387ae4bb"]]},{"id":"c3f42bc3387ae4bb","type":"debug","z":"db17751bf47342ad","name":"3. Final to Influx","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":260,"wires":[]},{"id":"01cd3f183a127fa7","type":"influxdb out","z":"db17751bf47342ad","influxdb":"f8af1fe9e2d5e372","name":"Save to InfluxDB","measurement":"desk_status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"MUICT","bucket":"IoT_Gr19_Project","x":1110,"y":320,"wires":[]},{"id":"7576cc2fd6ca9bb9","type":"mqtt in","z":"db17751bf47342ad","name":"","topic":"smartdesk/events","qos":"0","datatype":"auto-detect","broker":"208f4af71908eab4","nl":false,"rap":true,"rh":0,"inputs":0,"x":420,"y":560,"wires":[["15e41b19e19a3732","e26437ddaa960e57"]]},{"id":"e26437ddaa960e57","type":"debug","z":"db17751bf47342ad","name":"Event In","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"15e41b19e19a3732","type":"json","z":"db17751bf47342ad","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":560,"wires":[["b708816754af7729"]]},{"id":"b708816754af7729","type":"switch","z":"db17751bf47342ad","name":"Check Type","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"critical_penalty","vt":"str"},{"t":"eq","v":"session_end","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":560,"wires":[["7033dadbaed5c45e"],["f6e03d7f311668db"]]},{"id":"7033dadbaed5c45e","type":"function","z":"db17751bf47342ad","name":"Crit Message","func":"let currentScore = msg.payload.score;\n\n// --- สร้างข้อความแจ้งเตือนแบบ Professional ---\nlet alertMsg = `🚨 [SYSTEM ALERT] Proximity Warning\\n`;\nalertMsg += `=================================\\n`;\nalertMsg += `ระบบตรวจพบระยะห่างหน้าจอต่ำกว่าเกณฑ์มาตรฐานความปลอดภัย\\n\\n`;\n\nalertMsg += `[Telemetry Data]\\n`;\nalertMsg += `- Posture Score: ${currentScore}/100\\n`;\nalertMsg += `- Status       : 🔴 Critical (มีความเสี่ยงมาก)\\n\\n`;\n\nalertMsg += `[Immediate Action Required]\\n`;\nalertMsg += `โปรดปรับท่านั่งและรักษาระยะห่างจากหน้าจอให้เหมาะสมทันที เพื่อป้องกันภาวะตาล้า (Visual Fatigue) และความเสี่ยงกลุ่มอาการออฟฟิศซินโดรม`;\n\n// --- ส่งออกไปหา Telegram ---\nmsg.payload = {\n    \"chat_id\": \"8776453068\",\n    \"text\": alertMsg\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":520,"wires":[["5cada06ef912f687","bac9387e505cf4d9"]]},{"id":"f6e03d7f311668db","type":"function","z":"db17751bf47342ad","name":"ML \"Heuristic Weighted-Scoring Model for Adaptive Scheduling\"","func":"// --- 1. Data Ingestion ---\nlet score = (msg.payload.score !== undefined) ? msg.payload.score : 0;\nlet lux = msg.payload.light || 0;  \n\n// ป้องกันค่าหลุดกรอบ (Clip values)\nlet cleanScore = Math.max(0, Math.min(score, 100));\nlet cleanLux = Math.max(0, Math.min(lux, 500));\n\n// --- 2. Linear Regression Model ---\nconst intercept = 900;   \nconst w_score = 5.4;     \nconst w_lux = 0.72;      \n\nlet nextTimer = Math.floor(intercept + (w_score * cleanScore) + (w_lux * cleanLux));\n\n// --- 3. Status Labeling & Advisory (Professional Tone) ---\nlet statusLabel, advisory;\n\nif (nextTimer >= 1620) { // >= 27 นาที\n    statusLabel = \"🟢 Optimal (เหมาะสม)\";\n    advisory = \"พฤติกรรมและสภาพแวดล้อมอยู่ในเกณฑ์มาตรฐานที่ปลอดภัยต่อดวงตา\";\n} else if (nextTimer >= 1260) { // >= 21 นาที\n    statusLabel = \"🟡 Acceptable (เฝ้าระวัง)\";\n    advisory = \"ตรวจพบระยะห่างหน้าจอที่ใกล้เกินไปในบางช่วง แนะนำให้ปรับระดับสายตาให้เหมาะสม\";\n} else {\n    statusLabel = \"🔴 Requires Attention (มีความเสี่ยง)\";\n    advisory = \"สภาพแสงไม่เพียงพอ หรือระยะห่างหน้าจอไม่ปลอดภัย ระบบปรับลดเวลาทำงานเพื่อป้องกันภาวะตาล้า (Visual Fatigue)\";\n}\n\n// --- 4. Output Generation (Professional Report Format) ---\nlet report = `📑 Workspace Health & Ergonomics Report\\n`;\nreport += `=================================\\n`;\nreport += `[1] Assessment Summary\\n`;\nreport += `Status: ${statusLabel}\\n\\n`;\n\nreport += `[2] Telemetry Metrics\\n`;\nreport += `- Posture Score : ${cleanScore}/100\\n`;\nreport += `- Ambient Light : ${cleanLux} Lux\\n\\n`;\n\nreport += `[3] System Action\\n`;\nreport += `- Allocated Time: ${Math.floor(nextTimer / 60)} mins ${nextTimer % 60} secs\\n`;\nreport += `- Advisory : ${advisory}\\n`;\nreport += `=================================\\n`;\nreport += `Automated by Smart Desk AI Gateway`;\n\n// --- 5. Prepare Messages ---\nlet out1 = {\n    payload: {\n        \"chat_id\": \"8776453068\", // Chat ID ของคุณ\n        \"text\": report\n    }\n};\n\nlet out2 = {\n    payload: \"SET_TIMER:\" + nextTimer\n};\n\nreturn [out1, out2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":600,"wires":[["5cada06ef912f687","bac9387e505cf4d9"],["dcb6c413d673cd47","bac9387e505cf4d9"]]},{"id":"bac9387e505cf4d9","type":"debug","z":"db17751bf47342ad","name":"Event Output Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":460,"wires":[]},{"id":"5cada06ef912f687","type":"http request","z":"db17751bf47342ad","name":"Send Telegram","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.telegram.org/bot8868384756:AAGeQq_NSXkwUwXIiO1oh8SRPm6SPXBaybs/sendMessage","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1560,"y":560,"wires":[[]]},{"id":"dcb6c413d673cd47","type":"mqtt out","z":"db17751bf47342ad","name":"","topic":"smartdesk/control","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"208f4af71908eab4","x":1570,"y":720,"wires":[]},{"id":"mqtt_in_local_telemetry","type":"mqtt in","z":"db17751bf47342ad","name":"Local: smartdesk/telemetry","topic":"smartdesk/telemetry","qos":"0","datatype":"auto-detect","broker":"208f4af71908eab4","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":1120,"wires":[["json_local_tele"]]},{"id":"json_local_tele","type":"json","z":"db17751bf47342ad","name":"","property":"payload","action":"obj","pretty":false,"x":670,"y":1120,"wires":[["mqtt_out_tb_telemetry"]]},{"id":"mqtt_out_tb_telemetry","type":"mqtt out","z":"db17751bf47342ad","name":"TB: Send Telemetry","topic":"v1/devices/me/telemetry","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d3f66166327d0196","x":890,"y":1120,"wires":[]},{"id":"mqtt_in_tb_attributes","type":"mqtt in","z":"db17751bf47342ad","name":"TB: Receive Attributes","topic":"v1/devices/me/attributes","qos":"1","datatype":"auto-detect","broker":"d3f66166327d0196","nl":false,"rap":true,"rh":0,"inputs":0,"x":420,"y":1220,"wires":[["json_tb_attr"]]},{"id":"json_tb_attr","type":"json","z":"db17751bf47342ad","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":1220,"wires":[["func_parse_tb_attr"]]},{"id":"func_parse_tb_attr","type":"function","z":"db17751bf47342ad","name":"Convert to ESP32 Cmd","func":"let updates = msg.payload;\nlet msgs = [];\n\n// 1. ถ้ามีการปรับระยะเตือนภัย (dangerDistance)\nif (updates.dangerDistance !== undefined) {\n    msgs.push({ payload: \"SET_DIST:\" + updates.dangerDistance });\n}\n\n// 2. ถ้ามีการเปิด/ปิดเสียง (isMuted)\nif (updates.isMuted !== undefined) {\n    msgs.push({ payload: \"CMD:MUTE:\" + (updates.isMuted ? \"1\" : \"0\") });\n}\n\n// 3. ถ้ามีการเปิด/ปิดไฟโหมด Manual (isLampOn)\nif (updates.isLampOn !== undefined) {\n    msgs.push({ payload: \"CMD:LAMP:\" + (updates.isLampOn ? \"1\" : \"0\") });\n}\n\nreturn [msgs]; // ส่งคำสั่งออกไปเรียงตามลำดับ","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":1220,"wires":[["mqtt_out_local_control"]]},{"id":"mqtt_out_local_control","type":"mqtt out","z":"db17751bf47342ad","name":"Local: smartdesk/control","topic":"smartdesk/control","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"208f4af71908eab4","x":1190,"y":1220,"wires":[]},{"id":"mqtt_out_local_from_netpie","type":"mqtt out","z":"db17751bf47342ad","name":"Local: smartdesk/control","topic":"smartdesk/control","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"208f4af71908eab4","x":1410,"y":2080,"wires":[]},{"id":"blynk_v0_in","type":"blynk-iot-in-write","z":"db17751bf47342ad","name":"Blynk: Reset Score","pin":"0","pin_all":0,"client":"08857a55bcb11108","x":430,"y":1980,"wires":[["check_button_press"]]},{"id":"check_button_press","type":"switch","z":"db17751bf47342ad","name":"เช็คว่ากด (== 1)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":1980,"wires":[["set_cmd_reset"]]},{"id":"set_cmd_reset","type":"change","z":"db17751bf47342ad","name":"แปลงเป็น CMD:RESET_SCORE","rules":[{"t":"set","p":"payload","pt":"msg","to":"CMD:RESET_SCORE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1980,"wires":[["mqtt_out_local_from_netpie"]]},{"id":"blynk_v1_in","type":"blynk-iot-in-write","z":"db17751bf47342ad","name":"Blynk: Reset Timer (V1)","pin":"1","pin_all":0,"client":"08857a55bcb11108","x":440,"y":2120,"wires":[["set_cmd_timer"]]},{"id":"set_cmd_timer","type":"change","z":"db17751bf47342ad","name":"แปลงเป็น CMD:RESET_TIMER","rules":[{"t":"set","p":"payload","pt":"msg","to":"CMD:RESET_TIMER","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":2120,"wires":[["mqtt_out_local_from_netpie"]]},{"id":"fn_split_data","type":"function","z":"db17751bf47342ad","name":"แยกค่า Score & Temp","func":"// แยกข้อมูลจาก msg.payload ที่ได้รับจาก MQTT\nlet score = { payload: msg.payload.score };\n\n// ตรวจสอบชื่อ key ใน MQTT (ถ้าบอร์ดส่งมาเป็น 'timer' ให้ใช้ตามนั้น)\nlet time = { payload: msg.payload.temp || 0 }; \n\nreturn [score, time];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":440,"wires":[["blynk_v10_score"],["blynk_v11_time"]]},{"id":"blynk_v10_score","type":"blynk-iot-out-write","z":"db17751bf47342ad","name":"Blynk Score (V10)","pin":"10","client":"08857a55bcb11108","x":1550,"y":300,"wires":[]},{"id":"blynk_v11_time","type":"blynk-iot-out-write","z":"db17751bf47342ad","name":"Blynk Time (V11)","pin":"11","client":"08857a55bcb11108","x":1550,"y":360,"wires":[]},{"id":"nr_dashboard_slider","type":"ui_slider","z":"db17751bf47342ad","name":"ปรับระยะทาง (Local)","label":"ระยะเตือนภัย (cm)","tooltip":"","group":"70acae3271fee8b6","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"dist_local","topicType":"str","min":10,"max":100,"step":1,"className":"","x":410,"y":1320,"wires":[["dist_logic_updated"]]},{"id":"nr_dash_mute","type":"ui_switch","z":"db17751bf47342ad","name":"Local: Mute Switch","label":"ปิดเสียงเตือน (Mute)","tooltip":"","group":"70acae3271fee8b6","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"mute_local","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":410,"y":1500,"wires":[["mute_logic_updated"]]},{"id":"6b0b551a10fcda9c","type":"ui_button","z":"db17751bf47342ad","name":"Local: Reset Time","group":"70acae3271fee8b6","order":13,"width":0,"height":0,"passthru":false,"label":"Reset Time","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"reset_time_local","topicType":"str","x":430,"y":2220,"wires":[["unified_reset_timer"]]},{"id":"e2d2125d70b3c9b7","type":"ui_button","z":"db17751bf47342ad","name":"Local: Reset Score","group":"70acae3271fee8b6","order":12,"width":0,"height":0,"passthru":false,"label":"Reset Score","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"reset_score_local","topicType":"str","x":430,"y":1880,"wires":[["unified_reset_score"]]},{"id":"fn_dashboard_display","type":"function","z":"db17751bf47342ad","name":"แยกค่าโชว์ Dashboard Local","func":"// ดึงค่าจาก msg.payload ที่ได้รับจากโหนด JSON Object\nlet score = { payload: msg.payload.score || 0 };\nlet temp  = { payload: msg.payload.temp  || 0 };\n\n// ส่งออก 2 ช่อง: ช่อง 1 ไป Gauge Score, ช่อง 2 ไป Gauge Temp\nreturn [score, temp];","outputs":2,"x":810,"y":160,"wires":[["ui_gauge_score"],["ui_gauge_temp"]]},{"id":"ui_gauge_score","type":"ui_gauge","z":"db17751bf47342ad","name":"Dashboard: Score","group":"70acae3271fee8b6","order":9,"width":0,"height":0,"gtype":"gage","title":"Posture Score","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#ff0000","#e6e600","#00ef27"],"seg1":"","seg2":"","diff":false,"className":"","x":1110,"y":120,"wires":[]},{"id":"ui_gauge_temp","type":"ui_gauge","z":"db17751bf47342ad","name":"Dashboard: Temp","group":"70acae3271fee8b6","order":6,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#0021ff","#00ef27","#ff0000"],"seg1":"","seg2":"","diff":false,"className":"","x":1110,"y":200,"wires":[]},{"id":"tb_attr_lamp","type":"mqtt in","z":"db17751bf47342ad","name":"TB: Lamp (Attr)","topic":"v1/devices/me/attributes","qos":"2","datatype":"auto-detect","broker":"d3f66166327d0196","nl":false,"rap":false,"inputs":0,"x":400,"y":980,"wires":[["lamp_logic_updated"]]},{"id":"nr_dash_lamp","type":"ui_switch","z":"db17751bf47342ad","name":"Local: Lamp Switch","label":"โคมไฟ (Lamp)","tooltip":"","group":"70acae3271fee8b6","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"lamp_local","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":410,"y":1040,"wires":[["lamp_logic_updated"]]},{"id":"blynk_v4_timer","type":"blynk-iot-in-write","z":"db17751bf47342ad","name":"Blynk: Timer (V4)","pin":"4","pin_all":false,"client":"08857a55bcb11108","x":400,"y":1580,"wires":[["timer_logic_processor"]]},{"id":"tb_attr_timer","type":"mqtt in","z":"db17751bf47342ad","name":"TB: Timer (Attr)","topic":"v1/devices/me/attributes","qos":"2","datatype":"auto-detect","broker":"d3f66166327d0196","nl":false,"rap":false,"inputs":0,"x":390,"y":1640,"wires":[["timer_logic_processor"]]},{"id":"nr_dash_timer","type":"ui_numeric","z":"db17751bf47342ad","name":"Local: Set Timer","label":"เวลาทำงาน (นาที)","tooltip":"","group":"70acae3271fee8b6","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"timer_local","topicType":"str","format":"{{value}}","min":"1","max":"120","step":1,"className":"","x":390,"y":1680,"wires":[["timer_logic_processor"]]},{"id":"timer_logic_processor","type":"function","z":"db17751bf47342ad","name":"Timer Logic (Min to Sec)","func":"let source = \"Unknown\";\nlet targetMinutes = 0;\n\n// 1. รับค่าจาก Local Dashboard (Topic: timer_local)\nif (msg.topic === \"timer_local\") {\n    source = \"Local_UI\";\n    targetMinutes = parseInt(msg.payload);\n}\n// 2. รับค่าจาก Blynk (V4)\nelse if (msg.pin == 4) {\n    source = \"Blynk\";\n    targetMinutes = parseInt(msg.payload[0]);\n}\n// 3. รับค่าจาก Thingsboard (Attribute: target_timer)\nelse if (msg.payload.target_timer !== undefined) {\n    source = \"Thingsboard\";\n    targetMinutes = parseInt(msg.payload.target_timer);\n} else {\n    return null; // ถ้าไม่ใช่ค่าเวลา ให้ข้ามไป\n}\n\n// แปลงนาทีเป็นวินาที\nlet seconds = targetMinutes * 60;\n\n// แสดงสถานะใต้โหนด\nnode.status({fill: \"green\", shape: \"dot\", text: targetMinutes + \" Min via \" + source});\n\n// ส่งคำสั่งไปยัง ESP32\nreturn { \n    payload: \"SET_TIMER:\" + seconds, \n    source: source \n};","outputs":1,"x":760,"y":1620,"wires":[["mqtt_out_local_control"]]},{"id":"lamp_logic_updated","type":"function","z":"db17751bf47342ad","name":"Lamp Logic & Source ID","func":"let source = \"Unknown\";\nlet lampStatus = 0;\n\n// 1. รับค่าจาก Local Dashboard\nif (msg.topic === \"lamp_local\") {\n    source = \"Local_UI\";\n    lampStatus = msg.payload;\n}\n// 2. รับค่าจาก Blynk (V5)\nelse if (msg.pin == 5) {\n    source = \"Blynk\";\n    lampStatus = msg.payload[0];\n}\n// 3. รับค่าจาก Thingsboard\nelse if (msg.payload.lamp_status !== undefined) {\n    source = \"Thingsboard\";\n    lampStatus = msg.payload.lamp_status ? 1 : 0;\n}\n\nnode.status({fill: (lampStatus == 1 ? \"yellow\" : \"grey\"), shape: \"dot\", text: \"Lamp: \" + (lampStatus == 1 ? \"ON\" : \"OFF\") + \" via \" + source});\n\nreturn { \n    payload: \"CMD:LAMP:\" + lampStatus, \n    source: source \n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1000,"wires":[["mqtt_out_local_control"]]},{"id":"dist_logic_updated","type":"function","z":"db17751bf47342ad","name":"Distance Logic & Source ID","func":"let source = \"Unknown\";\nlet distThreshold = 0;\n\n// 1. รับค่าจาก Local Dashboard (Slider)\nif (msg.topic === \"dist_local\") { \n    source = \"Local_UI\";\n    distThreshold = msg.payload;\n} \n// 2. รับค่าจาก Blynk (V6)\nelse if (msg.pin == 6) { \n    source = \"Blynk\";\n    distThreshold = msg.payload;\n}\n// 3. รับค่าจาก Thingsboard (Attribute)\nelse if (msg.payload.distance_threshold !== undefined) {\n    source = \"Thingsboard\";\n    distThreshold = msg.payload.distance_threshold;\n}\n\nnode.status({ fill: \"blue\", shape: \"dot\", text: \"Dist: \" + distThreshold + \" via \" + source });\n\nreturn { \n    payload: \"SET_DIST:\" + distThreshold,\n    source: source\n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1320,"wires":[["mqtt_out_local_control"]]},{"id":"blynk_mute_v2","type":"blynk-iot-in-write","z":"db17751bf47342ad","name":"Blynk: Mute (V2)","pin":"2","pin_all":false,"client":"08857a55bcb11108","x":400,"y":1440,"wires":[["mute_logic_updated"]]},{"id":"mute_logic_updated","type":"function","z":"db17751bf47342ad","name":"Mute Logic & Source ID","func":"let source = \"Unknown\";\nlet muteStatus = 0;\n\n// 1. รับค่าจาก Local Dashboard\nif (msg.topic === \"mute_local\") {\n    source = \"Local_UI\";\n    muteStatus = msg.payload;\n}\n// 2. รับค่าจาก Blynk (V2)\nelse if (msg.pin == 2) {\n    source = \"Blynk\";\n    muteStatus = msg.payload[0];\n}\n// 3. รับค่าจาก Thingsboard (Attribute)\nelse if (msg.payload.mute_status !== undefined) {\n    source = \"Thingsboard\";\n    muteStatus = msg.payload.mute_status ? 1 : 0;\n}\n\n// แสดงสถานะที่โหนดเพื่อการ Debug\nnode.status({fill: (muteStatus == 1 ? \"red\" : \"grey\"), shape: \"dot\", text: \"Mute: \" + (muteStatus == 1 ? \"ON\" : \"OFF\") + \" via \" + source});\n\n// ส่งคำสั่งไปยัง ESP32\nreturn { \n    payload: \"CMD:MUTE:\" + muteStatus,\n    source: source\n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1440,"wires":[["mqtt_out_local_control"]]},{"id":"dc854ba8688195ba","type":"blynk-iot-in-write","z":"db17751bf47342ad","name":"Blynk: Control Lamp (V5)","pin":"5","pin_all":false,"client":"08857a55bcb11108","x":430,"y":900,"wires":[["lamp_logic_updated"]]},{"id":"3a24e78ad38021d0","type":"blynk-iot-in-write","z":"db17751bf47342ad","name":"Blynk: Distance Setup (V6)","pin":"6","pin_all":false,"client":"08857a55bcb11108","x":430,"y":1360,"wires":[["dist_logic_updated"]]},{"id":"unified_reset_score","type":"function","z":"db17751bf47342ad","name":"Reset Score Logic (Unified)","func":"let source = \"Unknown\";\nlet trigger = 0;\n\nif (msg.topic === \"reset_score_local\") {\n    source = \"Local_UI\";\n    trigger = msg.payload;\n}\nelse if (msg.pin == 0) {\n    source = \"Blynk\";\n    trigger = msg.payload[0];\n}\nelse if (msg.payload && msg.payload.reset_score !== undefined) {\n    source = \"Thingsboard\";\n    trigger = msg.payload.reset_score ? 1 : 0;\n}\n\nif (trigger == 1) {\n    node.status({fill: \"yellow\", shape: \"dot\", text: \"Reset Score via \" + source});\n    return { payload: \"CMD:RESET_SCORE\", source: source };\n}\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1880,"wires":[["mqtt_out_local_from_netpie"]]},{"id":"unified_reset_timer","type":"function","z":"db17751bf47342ad","name":"Reset Timer Logic (Unified)","func":"let source = \"Unknown\";\nlet trigger = 0;\n\nif (msg.topic === \"reset_time_local\") {\n    source = \"Local_UI\";\n    trigger = msg.payload;\n}\nelse if (msg.pin == 1) {\n    source = \"Blynk\";\n    trigger = msg.payload[0];\n}\nelse if (msg.payload && msg.payload.reset_timer !== undefined) {\n    source = \"Thingsboard\";\n    trigger = msg.payload.reset_timer ? 1 : 0;\n}\n\nif (trigger == 1) {\n    node.status({fill: \"green\", shape: \"dot\", text: \"Reset Timer via \" + source});\n    return { payload: \"CMD:RESET_TIMER\", source: source };\n}\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":2220,"wires":[["mqtt_out_local_from_netpie"]]},{"id":"tb_attr_in","type":"mqtt in","z":"db17751bf47342ad","name":"TB: Receive Attributes","topic":"v1/devices/me/attributes","qos":"0","datatype":"auto","broker":"d3f66166327d0196","nl":false,"rap":true,"rh":0,"inputs":0,"x":440,"y":2060,"wires":[["tb_json_parser"]]},{"id":"tb_json_parser","type":"json","z":"db17751bf47342ad","name":"json","property":"payload","action":"obj","pretty":false,"x":670,"y":2060,"wires":[["unified_reset_score","unified_reset_timer"]]},{"id":"6a52c61e2321242e","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":1,"width":"6","height":"1"},{"id":"171661971209f639","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":3,"width":10,"height":1},{"id":"56e3c877e77607b2","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":4,"width":6,"height":1},{"id":"903f01d8e30d9ac1","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":5,"width":10,"height":1},{"id":"462fcbf757ff7c2d","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":6,"width":6,"height":1},{"id":"d71081db686f1df7","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":7,"width":10,"height":1},{"id":"1f7004d736076221","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":8,"width":6,"height":1},{"id":"572a77a8d6b4200a","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":9,"width":10,"height":1},{"id":"ceb24085f0ee6334","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":13,"width":10,"height":1},{"id":"d83732998d3d91fd","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":14,"width":10,"height":1},{"id":"f9dedccfb4e1157d","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":15,"width":10,"height":1},{"id":"876e70c9ed3997b4","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":16,"width":10,"height":1},{"id":"03b50447530398ea","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":21,"width":10,"height":1},{"id":"ad901a0b6fef3691","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":23,"width":10,"height":1},{"id":"ef69b963929effa3","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":25,"width":10,"height":1},{"id":"66b86aff19050902","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"cc275d0874e46fd0","order":27,"width":10,"height":1},{"id":"8f5e5f2e652deb77","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"70acae3271fee8b6","order":1,"width":18,"height":1},{"id":"3377148356fe644b","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"70acae3271fee8b6","order":5,"width":18,"height":1},{"id":"36bc71578b11f638","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"70acae3271fee8b6","order":7,"width":18,"height":1},{"id":"0da233b936157c9f","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"70acae3271fee8b6","order":8,"width":18,"height":1},{"id":"64a61116b2a332cd","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"70acae3271fee8b6","order":10,"width":18,"height":1},{"id":"d5ac55579941e9fd","type":"ui_spacer","z":"db17751bf47342ad","name":"spacer","group":"70acae3271fee8b6","order":11,"width":18,"height":1},{"id":"208f4af71908eab4","type":"mqtt-broker","name":"Desktop Mqtt","broker":"192.168.100.17","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f8af1fe9e2d5e372","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"database","name":"IoT_Project_db","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://host.docker.internal:8086","timeout":"10","rejectUnauthorized":true},{"id":"d3f66166327d0196","type":"mqtt-broker","name":"","broker":"mqtt.thingsboard.cloud","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"08857a55bcb11108","type":"blynk-iot-client","name":"","path":"blynk.cloud","key":"kaUB1iVWvItMaVf9UI22btgbabqAruZ_","tmpl":"TMPL67OCLYnn7","dbg_all":false,"dbg_log":false,"dbg_prop":false,"dbg_sync":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"enabled":true},{"id":"70acae3271fee8b6","type":"ui_group","name":"IoT Project","tab":"3f08a2f4db53b5bf","order":2,"disp":true,"width":18,"collapse":false,"className":""},{"id":"cc275d0874e46fd0","type":"ui_group","name":"Current Monitoring","tab":"193fa286153e079c","order":3,"disp":true,"width":22,"collapse":false,"className":""},{"id":"3f08a2f4db53b5bf","type":"ui_tab","name":"Smart Desk","icon":"dashboard","disabled":false,"hidden":false},{"id":"193fa286153e079c","type":"ui_tab","name":"ITDS282 Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"62d2827f8cc255e8","type":"global-config","env":[],"modules":{"node-red-contrib-influxdb":"0.7.0","node-red-contrib-blynk-iot":"1.0.1","node-red-dashboard":"3.6.6"}}]